@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

.cardcontent {
    display: 'flex';
    flex-direction: 'row'
}

.cardIcons {
    margin-left: '420px';
    margin-top: '2px'
}



.cardRow {
    height: '250px';
    display: 'flex'; 
    flex-direction: 'row'
}