@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);


.add-experience-btn {
    display: 'flex';
    flex-direction: 'row-reverse';
    margin-right: '40px';
    margin-bottom: '15px'
}